.login1 .logo {
  justify-content: center;
  margin: 1rem auto;
}

.login1 .title {
  text-align: center;
  font-weight: 300;
  font-size: 25px;
}

.login1 .form {
  background-color: rgb(255, 255, 255);
  max-width: 25rem;
  margin: 1rem auto;
  flex-direction: column;
  gap: 2rem;
}

.login1 .reservation {
  background-color: rgb(255, 255, 255);
  max-width: 25rem;
  margin: 0 auto;
  justify-content: center;
}
.login1 {
  background-image: url("../../assets/images/17545.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  background-size: 1400px;
  height: 910px;
  width: 1300px;
  justify-content: center;
}
